In [26]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
pd.options.display.max_seq_items = 200

In [ ]:
#Let's try logistic regression

In [37]:
#First we must read in the data
ufc_official = pd.read_csv('/Users/aidanosullivan/Desktop/UCLA_Extension/Mini_Project/MiniProject_Final/ufc_offical.csv')

In [38]:
#Now we must split the data into labels and features, then after into training and testing
y = ufc_official.Winner #label
x = ufc_official.drop('Winner', axis =1) #features

In [41]:
#x still have way to many unnecessary features, so let's drop all the string columns that can't be turned into factors easily
x = x.drop(['R_fighter', 'B_fighter', 'location', 'country', 'date', 'weight_class'], axis = 1)

KeyError: "['R_fighter' 'B_fighter' 'location' 'country' 'date' 'weight_class'] not found in axis"

In [56]:

x = pd.get_dummies(x,columns = ['title_bout', 'gender', 'better_rank', 'B_Stance','R_Stance'], drop_first = True)

In [28]:
#ideally I wouldn't drop the better_rank predictor but I may have too
# x = x.drop(['title_bout', 'gender', 'better_rank'], axis =1)
# x.head()

In [57]:
x.head()

,Unnamed: 0,R_odds,B_odds,R_ev,B_ev,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_longest_win_streak,...,gender_MALE,better_rank_Red,better_rank_neither,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,B_Stance_Switch,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch
0,0,-225,180,44.444444,180.000000,5,1,0,0,6,...,1,1,0,0,1,0,0,1,0,0
1,1,-112,-112,89.285714,89.285714,3,2,0,0,5,...,1,1,0,0,1,0,0,1,0,0
2,2,-167,135,59.880240,135.000000,3,0,1,0,1,...,1,0,1,0,0,1,0,1,0,0
3,3,-125,100,80.000000,100.000000,3,0,1,0,1,...,0,0,1,1,0,0,0,1,0,0
4,4,-210,165,47.619048,165.000000,3,0,1,1,1,...,1,0,1,1,0,0,0,1,0,0

In [67]:
#Now we have our labels and features. The next step is to split into training and testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [71]:
y_train.head()

      Red
2275    1
1850    0
1595    1
1496    0
208     1

In [62]:
y = pd.get_dummies(y, columns = 'Winner', drop_first = True)
#need to convert x and y (or x_train and y_train) into a panda series

In [ ]:
y_train.reshape(y_train.shape[0],0)

In [72]:
#Now let's get to logistic regression
log_reg = LogisticRegression()
log_reg.fit(x_train.values(), y_train.values())

TypeError: 'numpy.ndarray' object is not callable

In [33]:
x_train["R_win_by_TKO_Doctor_Stoppage"].head

<bound method NDFrame.head of 1969    0
1376    0
3312    0
79      0
1755    0
       ..
645     0
1984    0
1049    0
1306    0
1450    0
Name: R_draw, Length: 3003, dtype: int64>

In [45]:
print(x_train.dtypes)

NameError: name 'dtype' is not defined

In [47]:
x.select_dtypes(include = object)

      gender  B_Stance  R_Stance better_rank
0       MALE  Southpaw  Orthodox         Red
1       MALE  Southpaw  Orthodox         Red
2       MALE    Switch  Orthodox     neither
3     FEMALE  Orthodox  Orthodox     neither
4       MALE  Orthodox  Orthodox     neither
...      ...       ...       ...         ...
4286    MALE  Orthodox  Orthodox     neither
4287    MALE  Southpaw  Orthodox     neither
4288    MALE  Orthodox  Orthodox     neither
4289    MALE  Orthodox  Orthodox     neither
4290    MALE  Orthodox  Orthodox     neither

[4291 rows x 4 columns]

In [36]:
x_train.head

<bound method NDFrame.head of       Unnamed: 0  R_odds  B_odds        R_ev        B_ev  title_bout  gender  \
1969        1970     195    -235  195.000000   42.553191       False    MALE
1376        1377     180    -220  180.000000   45.454545       False  FEMALE
3312        3313    -305     275   32.786885  275.000000       False    MALE
79            79    -225     185   44.444444  185.000000       False    MALE
1755        1756     300    -360  300.000000   27.777778       False    MALE
...          ...     ...     ...         ...         ...         ...     ...
645          646     195    -235  195.000000   42.553191       False  FEMALE
1984        1985    -720     510   13.888889  510.000000        True    MALE
1049        1050    -265     225   37.735849  225.000000       False    MALE
1306        1307    -130     110   76.923077  110.000000       False    MALE
1450        1451     315    -380  315.000000   26.315789       False    MALE

      no_of_rounds  B_current_lose_streak  B_current_win_streak  ...  sub_dif  \
1969             3                      1                     0  ...        0
1376             3                      1                     0  ...        0
3312             3                      0                     1  ...       -1
79               3                      0                     1  ...        0
1755             3                      0                     2  ...       -1
...            ...                    ...                   ...  ...      ...
645              3                      0                     1  ...       -2
1984             5                      0                     1  ...       -4
1049             3                      0                     2  ...        0
1306             3                      0                     1  ...       -1
1450             3                      1                     0  ...        1

      height_dif  reach_dif  age_dif  sig_str_dif  avg_sub_att_dif  \
1969        0.00       2.54        4     9.964286        -0.107143
1376        2.54       7.62        8    31.666667         0.166667
3312       -5.08       0.00       -5    29.666667         1.666667
79          0.00      -2.54       -2    -1.950000         0.100000
1755        5.08       5.08        8    27.212121        -0.030303
...          ...        ...      ...          ...              ...
645         0.00       0.00       12    -4.500000        -0.500000
1984       -2.54     -10.16       -5   -35.027778        -0.402778
1049        7.62      -2.54       -4   -11.035714         0.071429
1306        2.54       2.54       -3    -5.166667         0.166667
1450       -2.54      -7.62       15   -13.500000         1.000000

      avg_td_dif  empty_arena  constant_1  better_rank
1969    4.160714            0           1          Red
1376   -0.500000            0           1          Red
3312    0.000000            0           1      neither
79      3.030000            1           1      neither
1755    0.505051            0           1          Red
...          ...          ...         ...          ...
645     2.777778            0           1          Red
1984   -1.395833            0           1          Red
1049    0.321429            0           1          Red
1306   -0.666667            0           1      neither
1450    0.600000            0           1      neither

[3003 rows x 64 columns]>

In [ ]:
#catboost and lgbm accept categorial variables
#random forst does not accept categorial variables